

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c58524;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  
  .container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    text-align: center;
  }
  

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
 
  input[type="text"] {
    padding: 10px;
    width: 75%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 14px;
  }
  
  
  button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
 
  
 
  .add-btn {
    background-color: #007bff;
  }
  
  .add-btn:hover {
    background-color: #0056b3;
  }
  
  
  ol {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
  }
  

  li {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    border: 1px solid #ddd;
  }
  
 
  span {
    flex: 1;
    text-decoration: none;
    color: #333;
  }
  
  /* Task Edit Input */
  input[type="text"].edit-input {
    padding: 5px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
  }
  

  button {
    padding: 5px 10px;
    margin-left: 5px;
    gap: 20px;
    margin-top: 10px;
  }
  

  input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
  }
  

  input[type="checkbox"]:checked + span {
    text-decoration: line-through;
    color: #bbb;
  }
  